body {
  /* background: */
  background: #1e1e1e;
}

.btn.btn-outline-primary.gh {
  bottom: 0;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.btn.btn-outline-primary.gh:hover svg {
  fill: white;
}


.btn.btn-outline-primary.gh svg {
  height: 30px;
  fill: var(--bs-btn-color);
  bottom: 0;
}

#navbar {
  float: left;
  width: 150px;
  height: 100%;
  text-align: center;
  padding: 10px;
}

.code-ref {
  /* color: #9cdcfe; */
  text-align: center;
}

.Interpolation .code-ref {
}

.navbar-button {
    margin-bottom: 10px;
    background-color: rgb(148, 148, 180);
    vertical-align: middle;
    width: 90%;
    background: lavender;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

.navbar-button.logo {
  height: 90px;
  width: 90px;
  background: none;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-800);
}

.content {
  padding: 10px;
  width: calc(100% - 150px);
  height: 100%;
  overflow: scroll;
  float: right;
  padding-bottom: 500px;
  box-sizing: border-box;
}

#interpolation-example,
#class-example,
#if-example,
#foreach-example {
  display: flex;
  flex-direction: row;
}

.example-section {
  padding: 30px;
  justify-content: center;
  width: calc(100% - 20px);
  border: 1px solid var(--bs-gray-800);
  border-radius: 10px;
  margin-bottom: 30px;
}

.code {
  font-family: 'Monaco';
  font-size: 13px;
}

.code-block {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

.code-block.js {
  color: #9cdcfe;
}

.language-shell {
  color: white !important;
}

.language-markup,
.language-shell {
  background-color: #1e1e1e !important;
  text-shadow: none !important;
  border-radius: 10px;
  width: fit-content !important;
}

.token.tag,
.token.keyword,
.token.boolean {
  color: #569cd6 !important;
}
.token.attr-name {
  color: #9cdcfe !important;
}
.token.attr-value,
.token.string {
  color: #ce9178!important;
}
.token.property {
  color: #d7ba7d !important;
}
.token.number {
  color: #b5cea8 !important
}
.token.class-name {
  color: #4ec9b0 !important;
}
.token.operator {
  color: #999 !important;
  background-color: unset !important;
}
.token.function {
  color: #dcdcaa !important; 
}